.scl-player {
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}
.scl-player * {
    box-sizing: border-box;
}
.scl-player .player {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.scl-player .sound-header {
    width: 100%;
    display: flex;
    max-width: 100%;
    vertical-align: bottom;
    outline-offset: -1px;
    font-weight: 100;
    height: 55px;
}
.scl-player .waveform {
    flex-wrap: wrap;
    height: 65px;
    position: relative;
    width: 100%;
    max-width: 100%;
    opacity: 0.65;
    transition: opacity 0.5s;
}

.scl-player .waveform:hover, .scl-player .waveform.playing {
    opacity: 1;
}

.scl-player .player .button {
    position:relative;
    display:inline-block;
    width:43px;height:43px;
    padding:0;
    vertical-align:middle;
    border:0;
    background:transparent;
    margin: 2px 10px 1px 1px;
}

.scl-player .artwork {
    border-radius: 2px 0 0 2px;
    opacity: 1;
    align-self: flex-start;
    flex-shrink: 0
}

.scl-player .artwork .image {
    height: 162px;
    width: 162px;
    background-size: cover;
}

.scl-player .sound {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px 10px;
}
.scl-player .sound-footer {
    height: 26px;
    padding-top: 13px;
}
.scl-player .track-stats {
    font-weight: 100;
    font-size: 12px;
    color: #999;
    line-height: 12px;
    padding-left: 16px;
    display: inline-block;
    float: right;
    background-size: 16px 16px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c3RhdHNfcGxheSA0PC90aXRsZT48cGF0aCBkPSJNNCAxM1YzbDkgNS05IDV6IiBmaWxsPSIjOTk5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: left center;
}

.scl-player .title {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 5px 0;
    width: 100%;
    flex-wrap: wrap;
}
.scl-player .title-content {
    position: absolute;
    left:0;
    top:5px;
}
.scl-player .user-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    font-size: 12px;
    line-height: 16px;
}
.scl-player .user-link a {
    color: #666;
    text-decoration: underline;
}
.scl-player .track-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    font-size: 13px;
    line-height: 18px;
}

.scl-player .track-link a {
    color: #333;
    text-decoration: none;
}


/* Playlist */

.scl-player .playlist {
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    background: #fff;
}
.scl-player .playlist .track {
    border-bottom: 1px solid lightgrey;
    padding: 4px 11px;
    cursor: pointer;
}
.scl-player .playlist .track:first-child {
    /*border-top: 1px solid lightgrey;*/
}

.scl-player .playlist .track:last-child {
    border-bottom: none;
}

.scl-player .playlist .track.current {
    color: #ff5500;
}

.scl-player .playlist .track .image {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    box-sizing: border-box;
}
.scl-player .playlist .track .content {
    line-height: 20px;
    font-size: 12px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
}
.scl-player .playlist .track .extra {
    float: right;
    padding-top: 4px;
}
